.wind-card {
    min-width: 1rem;
    margin-top: 3rem;
    background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }

    .text-secondary {
        color: #666;
    }
}